<div fxLayout="column" class="section-main" fxLayoutAlign="start center">

  <div class="ui-inputgroup field-nome">
    <span class="ui-inputgroup-addon">
      <i class="pi pi-user"></i>
    </span>
    <input type="text" pInputText placeholder="Nome" [(ngModel)]="pessoa.nome">
  </div>

  <div>
    <label class="title-form">Telefone:</label>
    <p-inputMask styleClass="input-telefone" [(ngModel)]="pessoa.telefone" mask="(999) 99999-9999"></p-inputMask>
  </div>


  <div class="section-btn" fxLayoutAlign="space-between none">
    <div>
      <button mat-raised-button color="none" [routerLink]="['/']">Voltar</button>
    </div>
    <div class="btn-center">
      <button *ngIf="pessoa?.id != null" mat-raised-button color="warn" 
        [swal]="{ title: '<h4>Deseja excluir?</h4>', showCloseButton:'true'}"
        (click)="excluir()"
        (confirm)="navegarParaHome()">
        Excluir
      </button>
    </div>
    <div>
      <button [swal]="['Sucesso!', 'Pessoa salva com sucesso!', 'success']" (click)="salvar()"
         mat-raised-button color="primary"
        (confirm)="navegarParaHome()">
        Salvar
      </button>
    </div>
  </div>
</div>