<div fxLayout="column" fxFlex="150" fxLayoutAlign="space-around center">
  <form class="example-form">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome" value="Sushi">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefone" value="Sushi">
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="warn">Excluir</button>
      <button mat-raised-button color="primary">Salvar</button>
    </div>

  </form>
</div>